{{ define "title" }}Gobuild: Reproducible binaries with the Go module proxy{{ end }}
{{ define "content" }}
		<h1>Gobuild: reproducible binaries with the Go module proxy</h1>
		<p>Gobuild deterministically compiles programs written in Go that are available through the Go module proxy, and returns the binary.</p>

		<p>The <a href="https://proxy.golang.org/">Go module proxy</a> ensures source code stays available, and you are highly likely to get the same code each time you fetch it. Gobuild aims to do the same for binaries.</p>

		<h2>Try a module</h2>
		<form onsubmit="location.href = '/' + moduleName.value.replace(/^https?:\/\//, ''); return false" method="GET" action="/">
			<input onfocus="modulenote.style.display='block'" id="moduleName" name="m" type="text" placeholder="github.com/your/project containing go.mod" style="width:30rem; max-width:75%" required />
			<button type="submit">Go!</button>
		</form>
		<p style="display:none" id="modulenote">Note: Point to the module root, the directory that contains the go.mod file, not a package subdirectory. If your module has multiple main commands, they will be listed.</p>

		<h2>Recent builds</h2>
		<div>
{{ if not .Recents }}<p>No builds yet.</p>{{ end }}
			<ul style="word-break: break-all; padding-left: 1.1rem">
{{ range .Recents }}			<li style="padding-left: 1rem; text-indent: -1rem"><a href="{{ . }}">{{ . }}</a></li>{{ end }}
			</ul>
		</div>

{{ if .InstanceNotes }}
		<h2>Notes about this gobuild instance</h2>
		<pre style="white-space: pre-wrap; background-color: #eee; display: inline-block; padding: 1em; border-radius: .5ex; margin: 0">{{ .InstanceNotes }}</pre>
{{ end }}

		<h2>URLs</h2>
		<p>You can compose URLs to a specific module, build or result:</p>
		<ul style="color:#666; word-break: break-all; padding-left: 1.1rem">
			<li style="padding-left: 1rem; text-indent: -1rem">/<var>module</var></li>
			<li style="padding-left: 1rem; text-indent: -1rem">/<var>module</var>@<var>version</var>/<var>package</var>/<var>goos</var>-<var>goarch</var>-<var>goversion</var>/</li>
			<li style="padding-left: 1rem; text-indent: -1rem">/<var>module</var>@<var>version</var>/<var>package</var>/<var>goos</var>-<var>goarch</var>-<var>goversion</var>/<var>sum</var>/</li>
		</ul>

		<h3>Examples</h3>
		<ul style="color:#666; word-break: break-all; padding-left: 1.1rem">
			<li style="padding-left:1rem; text-indent:-1rem"><a href="/github.com/mjl-/gobuild">/github.com/mjl-/gobuild</a></li>
			<li style="padding-left:1rem; text-indent:-1rem"><a href="/github.com/mjl-/sherpa@latest/cmd/sherpaclient/linux-amd64-latest/">/github.com/mjl-/sherpa@latest/cmd/sherpaclient/linux-amd64-latest/</a></li>
			<li style="padding-left:1rem; text-indent:-1rem"><a href="/github.com/mjl-/sherpa@v0.6.0/cmd/sherpaclient/linux-amd64-go1.14.1/0m32pSahHbf-fptQdDyWD87GJNXI/">/github.com/mjl-/sherpa@v0.6.0/cmd/sherpaclient/linux-amd64-go1.14.1/0m32pSahHbf-fptQdDyWD87GJNXI/</a></li>
		</ul>

		<p>The first URL fetches the requested Go module to find the commands (main
packages). In case of a single command, it redirects to a URL of the second
form. In case of multiple commands, it lists them, linking to URLs of the second
form. Links are to the latest module and Go versions, and with goos/goarch
guessed based on user-agent.</p>

		<p>The second URL first resolves "latest" for the module and Go version with a
redirect. For URLs with explicit versions, it starts a build for the requested
parameters if no build is available yet. After a successful build, it redirects
to a URL of the third kind.</p>

		<p>The third URL represents a successful build. The URL includes the sum: The
versioned raw-base64-url-encoded 20-byte prefix of the sha256 sum. The page
links to the binary, the build output log file, and to builds of the same
command with different module versions, goversions, goos/goarch.</p>

		<p>You need not and cannot refresh a successful build: it would yield the same result.</p>

		<h2>Transparency log</h2>

		<p>Gobuild maintains a transparency log containing the hashes of all successful builds, similar to the <a href="https://sum.golang.org/">Go module checksum database</a>. Gobuild's "get" subcommand looks up a content hash through the transparency log, locally keeping track of the last known tree state.  This ensures the list of successful builds and their hashes is append-only, and modifications or removals by the server will be detected when you run "gobuild get".</p>

		<h3>Examples</h3>
		<pre class="command">gobuild get github.com/mjl-/gobuild@latest</pre>
		<pre class="command">gobuild get -sum 0N7e6zxGtHCObqNBDA_mXKv7-A9M -target linux/amd64 -goversion go1.14.1 github.com/mjl-/gobuild@v0.0.8</pre>

	{{ if .VerifierKey }}
		<p>If you run your own gobuild instance, specify the verifierkey on the command-line:</p>
		<pre class="command charwrap">gobuild get -verifierkey {{ .VerifierKey }} ...</pre>
	{{ else }}
		<p>NOTE: The transparency log is not configured for this gobuild instance.</p>
	{{ end }}

		<h2>Details</h2>
		<p>Only "go build" is run, for pure Go code. None of "go test", "go generate", build tags, cgo, custom compile/link flags, makefiles, etc. This means gobuild cannot build all Go applications.</p>
		<p>Gobuild looks up module versions through the Go module proxy. That's why shorthand versions like "@v1" don't resolve.</p>
		<p>The go.mod of a project must be complete and clean: no missing dependencies, no replace statements, module name must match requested build.</p>
		<p>Gobuild automatically downloads a Go toolchain (SDK) from <a href="https://go.dev/dl/">https://go.dev/dl/</a> when it is first referenced. It also periodically queries that page for the latest supported releases, for redirecting to the latest supported toolchains.</p>
		<p>Gobuild can be configured to verify builds with other gobuild instances, requiring all to return the same hash for a build to be considered successful.</p>
		<p>To build, gobuild executes:</p>
		<pre class="command">GO19CONCURRENTCOMPILATION=0 GO111MODULE=on GOPROXY=https://proxy.golang.org/ CGO_ENABLED=0 GOOS=$goos GOARCH=$goarch $goversion install -trimpath -ldflags=-buildid= -- $module/$package@$version</pre>
		<p>For the stripped variant, <code>-ldflags='-buildid= -s'</code> is used.</p>
		<p>It's easy to run a local or internal gobuild instance. For configuration details, see this <a href="/emptyconfig">empty example config</a>.</p>
		<p>Code is available at <a href="https://github.com/mjl-/gobuild">github.com/mjl-/gobuild</a>, under MIT-license.</p>

		<h2>Why gobuild</h2>
		<p>Get binaries for any module without having a Go toolchain installed: Useful when working on a machine that's not yours, or for your colleagues or friends who don't have a Go compiler installed.</p>
		<p>Simplify your software release process: You no longer need to cross compile for many architectures and upload binaries to a release page. You never forget a GOOS/GOARCH target. Just link to the build URL for your module and binaries will be created on demand.</p>
		<p>Binaries for the most recent Go toolchain: Go binaries include the runtime and standard library of the Go toolchain used to compile, including bugs. Gobuild links or can redirect to binaries built with the latest Go toolchain, so no need to publish new binaries after an updated Go toolchain is released.</p>
		<p>Verify reproducibility: Configure gobuild to check against other gobuild instances with different configuration to build trust that your binaries are indeed reproducible.</p>

		<h2>Caveats</h2>
		<p>A central service like gobuilds.org that provides binaries is an attractive target for attackers. By only building code available through the Go module proxy, and only building with official Go toolchains, the options for attack are limited. Further security measures are the isolation of the gobuild proces and of the build commands (minimal file system view, mostly read-only; limited network; disallowing escalation of privileges).</p>
		<p>The transparency log is only used when downloading binaries using the "gobuild get" command, which uses and updates the users local cache of the signed append-only transparency log with hashes of built binaries. If users only download binaries through the convenient web interface, no verification of the transparency log takes place. The transparency log gives the option of verification, that alone may give users confidence the binaries are not tampered with. A nice way of continuously verifying that a gobuild instance, such as gobuilds.org, is behaving correctly is to set up your own gobuild instance that uses gobuilds.org as URL to verify builds against.</p>
		<p>Gobuild will build binaries with different (typically newer) Go toolchains than an author has tested their software with. So those binary are essentially untested. This may cause bugs. However, point releases typically contains only stability/security fixes that don't normally cause issues and are desired. The Go 1 compatibility promise means code will typically work as intended with new Go toolchain versions. But an author can always link to a build with a specific Go toolchain version. A user simply has the additional option to download a build by a newer Go toolchain version.</p>
{{ end }}
{{ define "script" }}{{ end }}
